.remove{
padding: 5px 10px;
font-size: 13px;
font-weight: normal;
text-align: center;
text-decoration: none;
background-color: #ff565e;
color: #fff;
border: none;
border-radius: 4px;
}
.update{
    padding: 5px 10px;
font-size: 13px;
font-weight: normal;
text-align: center;
text-decoration: none;
background-color: #459fff;
color: #fff;
border: none;
border-radius: 4px;
}