:root{
    --color-1:#E7EBFD;
    --color-2:#D0D8FB;
    --color-3:#B8C4F9;
    --color-4:#A1B1F7;
    --color-5:#899DF5;
    --color-6:#7189F4;
    --color-7:#5A76F2;
    --color-8:#4262F0;
    --color-9:#2B4EEE;
    --color-10:#133BEC;
    --color-11:#0F2FBD;
}