:root{
    --color-1:#F0F2F4;
    --color-2:#E2E4E9;
    --color-3:#D3D7DE;
    --color-4:#C5C9D3;
    --color-5:#99A1B2;
    --color-6:#7C869C;
    --color-7:#586074;
    --color-8:#424857;
    --color-9:#1F2229;
}