:root{
    --color-1:#D7F4EC;
    --color-2:#C3EFE3;
    --color-3:#AFE9DA;
    --color-4:#9BE4D0;
    --color-5:#73D9BD;
    --color-6:#5FD3B4;
    --color-7:#37C8A1;
    --color-8:#31B491;
    --color-9:#2EA888;
    --color-10:#268C71;
}