:root{
    --color-1:#FDE8E8;
    --color-2:#FAD1D1;
    --color-3:#F8B9B9;
    --color-4:#F6A2A2;
    --color-5:#F48B8B;
    --color-6:#F17474;
    --color-7:#EF5D5D;
    --color-8:#EC4141;
    --color-9:#EA2E2E;
    --color-10:#E81717;
}
